@import "../dotfiles/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  border-radius: 9px;
  padding: 2px 2px;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  border: none;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 3px;
  margin: 0 0.5px;
  min-width: 5px;
}

#workspaces button.active, #workspaces button.persistent, #window, #cpu, #pulseaudio, #clock{
  color: @foreground;
}

#memory {
  color: @foreground;
}

#network {
  color: @foreground;
}

#workspaces button.empty, #bluetooth{
  color: @foreground;
}

#battery, #custom-weather, #mpris {
  color: @foreground;
}

#network {
  background-color: alpha(@foreground, .1);
  min-width: 15px;
  margin: 1 1 1 7.5;
  padding: 0 14.5 0 10;
}

#workspaces {
  background-color: alpha(@foreground, .1);
  min-width: 15px;
  margin: 1 1 1 7.5;
  padding: 0 10 0 5;
}

#backlight, #custom-weather, #memory, #mpris, #window, #clock,
#tray,
#cpu,
#battery,
#bluetooth,
#pulseaudio,
#custom-dotfiles,
#custom-screenrecording-indicator,
#custom-update {
  background-color: alpha(@foreground, .1);
  min-width: 15px;
  margin: 1 1 1 7.5;
  padding: 0 10 0 10;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;

  padding: 0 11 0 10;
}

#custom-screenrecording-indicator.active {
  color: @foreground;
}


/* EXTRA FIX! */

#mpris {
  margin-right: 10px;
}

tooltip {
  border-radius: 10px;
}
#custom-dotfiles {
  color: @foreground;
  margin-left: 0px;
  padding: 0 14 0 8px;
}

window#waybar.empty #window{
  padding-right: 2.5px;
}
