@define-color bg #0D1418;
@define-color fg #fdfcfb;
@define-color gray1 #89ae96;
@define-color gray2 #3b4850;
@define-color gray3 #89bacd;
@define-color gray4 #CCCBB9;
@define-color gray5 #b8adb6;
@define-color fg_bright #fdfcfb;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}